    <div class="section no-pad-bot" id="index-banner">
        <div class="row">
            <div class="container bordered">
                <br><br>
                <h1 class="header orange-text">НАУ</h1>
            </div>
            <div class="container">
                <h3 style="">Річний бюджет: 2500$<h3>
            </div>Hack121.Mvc.ViewModels
        </div>
        <div class="row">
            <div class="container">
                <canvas id="svgContent"></canvas>
                <div class="section info">
                    <h5>Категорії витрат</h5>
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    Категорія
                                </td>
                                <td>
                                    Відсоток
                                </td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Ремонт
                                </td>
                                <td>
                                    35%
                                </td>
                                <td>
                                    <a href="categoryDetails.html">Детальніше</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Зар. плата
                                </td>
                                <td>
                                    25%
                                </td>
                                <td>
                                    <a href="categoryDetails.html">Детальніше</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ремонт
                                </td>
                                <td>
                                    40%
                                </td>
                                <td>
                                    <a href="categoryDetails.html">Детальніше</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
