@model List<Hack121.Mvc.ViewModels.UniversityModel>
    <div class="main-page">
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <br><br>
                <h1 class="header center ">Warden</h1>
                <div class="row center">
                    <h5 class="header col s12 light">We know something about your university...</h5>
                </div>
                <div class="row center">
                </div>
                <br><br>
            </div>
        </div>

        <div class="container">
            <div class="section">
                <table id="search-table">
                    <thead>
                        <tr>
                            <td>No.</td>
                            <td>University</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var university in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Details", "University", new { id = university.Id })">
                                        @university.Edrpou
                                    </a>
                                </td>
                                <td>
                                    @university.Title
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        window.onload = function () {
            $("#search-table").dynatable();
        };
    </script>
