@using System.Web.Optimization
@{
    Layout = "_Base.cshtml";
}
@section Styles{
    <link href='https://fonts.googleapis.com/css?family=Roboto:500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/FE.css")
}





<div class="col-xs-12">
    @RenderBody()
</div>



@section Scripts{
    @Scripts.Render("~/bundles/pages")
    @RenderSection("Scripts", required: false)
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl=uk"
            async defer>
    </script>
}

